<html>
    <head>
        <title>Single store page</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <h1>{{ store.getName}}</h1>

            <form action="/stores/{{ store.getId }}/edit" method="get">
                <button name="submit">Update</button>
            </form>

            <p>
                <a href="/stores">Go Back</a>
            </p>
        </p>
    </body>
</html>
