<html>
    <head>
        <title>Shoes for All!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <h1>Shoes for All!</h1>

        <p><a href="/brands">Brands</a></p>
        <p><a href="/stores">Stores</a></p>

    </body>
</html>
